.section {
    box-sizing: border-box;
    padding: var(--space-md);
}

.section-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-button{
        margin-bottom: 0.1em;
        padding: 0.4em 0.8em;
        border-radius: 0.5em;
        border: none;
        background-color: var(--muted);
        font-size: 16px;
        cursor: pointer;
        color: #fff;
}

.underline {
    height: 2px;
    background-color: #d8d8d8;
    margin-bottom: 0.5em;
}

.text {
    color: #333;
    font-size: 18px;
}


