.outfitContainer{
    border-radius: 0.5em;
    border: 1px solid #9D9EA2;
    margin-top: 0.5em;
}

.outfitGrid{
    display:flex;
    align-items:flex-start;
    justify-content: center;
    border-radius: 0.5em;
    border: 1px solid #9D9EA2;
}

.outfitGrid .col{
    display:flex;
    flex-direction:column;
}

.outfitGrid .col-left{
    /* fixed order: top, bottom, shoes */
    order:0;
}

.outfitGrid .col-right{
    /* mid-layer, outerwear */
    order:1;
}

.col-item{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0.25rem;
}

/* Ensure images inside fit nicely */
.col-item img{
    max-width:100%;
    height:auto;
    object-fit:cover;
    border-radius:6px;
}

@media (max-width: 700px){
    .outfitGrid{
        flex-direction:column;
    }
}
