#root {
  display: flex;
  flex-direction: row;
}

img.Clothes{
  height: 9em !important;
  width: 6em !important;
  margin: 0.5em !important;
}

.controls{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.imageContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls > span{
  padding: 0.5em;
  color: #666666;
  font-size: 2em !important;
}

@media only screen and (max-width: 600px) {
  .outfitCreator > div.content >div >div > img.Clothes{
    height: 13em !important;
    width: 8em !important;
    margin: 0.5em !important;
  }
}