spring:
  jackson:
    defaultPropertyInclusion: "non_null"
  datasource:
    driverClassName: 'org.postgresql.Driver'
    url: jdbc:postgresql://localhost:5433/db
    username: postgres
    password: postgres
  jpa:
    showSql: 'true'
    hibernate:
      ddl-auto: 'update'
    properties:
      hibernate:
        dialect: 'org.hibernate.dialect.PostgreSQLDialect'
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 6MB
  mvc:
    static-path-pattern: /images/**
  web:
    resources:
      static-locations:
        - file:./uploads/images/
        - classpath:/static/images/


application:
  security:
    jwt:
      secret-key: aedc736d5e91942706607c666fac3fd34001af0511af01288ddda0390c0e50c8
      expiration: 10800000
  remove:
    bg:
      api:
        key: Xt5m4A3HDsbguv5aK5PqdQDj
  weather:
    api:
      key: 5c80066134474ba18a5173110240512
      url: https://api.weatherapi.com/v1/current.json

