nav {
    width: 220px;
    height: 100%;
    background: #D9D9D9;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--space-md);

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    box-sizing: border-box;
    flex: 0 0 220px;
}

nav > img {
    margin: 1em 0;
}

nav span, a{
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}

li span {
    padding: 0.8em;
}

ul {
    list-style-type: none;
    color: #666666;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: var(--space-sm);
}

li a {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: calc(var(--space-sm) + 4px) 0;
    color: #666666;
    display: block;
    border-radius: 6px;
}

li a:hover{
    background: rgba(0,0,0,0.03);
}

li:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 1em;
}

.logout_button {
    width: 100%;
    color: #666666;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.9em;
    padding: var(--space-sm) 0;
}

/* ensure main content has space on the left */
.page {
    margin-left: 220px;
}

@media only screen and (max-width: 600px) {
    nav {
        width: 100%;
        height: auto;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1000; /* Ensure it's on top of other content */
    }

    nav > img {
        display: none;
    }

    ul {
        flex-direction: row; /* Align list items horizontally */
        justify-content: space-around; /* Evenly distribute items */

    }

    li:last-child {
        display: none;
    }

    .material-symbols-sharp
    {
        font-size: 32px !important;
    }
}
